$theme-color: red;
$primary-color: white;
$standard-margin: 16px;
$standard-padding: 8px;
$primary-font: 'Bebas Neue';

$phone: "min-width:320px";
$tablet: "min-width:961px";
$big: "min-width:1025px";