
body {
    font-family: $primary-font, system-ui;
    font-weight: 400;
    letter-spacing: .5rem;
    font-style: normal;
    color: $primary-color;
    background-color: black;
    margin: 0;
    padding: 2rem;
    overflow-x: hidden;

  }

